
.skills {
    padding: 60px 20px;
    background-color: #1f1f1f;
    color: white;
}


.skills-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 100px;
}


.full-line1 {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #01ccff, transparent);
}


.title-row2 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.title-row2 h2 {
    font-size: 32px;
    letter-spacing: 0.1em;
    color: white;
}

.title-row2 .line {
    width: 60px;
    height: 2px;
    background: linear-gradient(to right, transparent, #01ccff);
}

.title-row2 .line:last-child {
    background: linear-gradient(to left, transparent, #01ccff);
}


.skills-content {
    display: flex;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}


.core-stats {
    flex: 1;
}

.core-stats h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #01ccff;
}

.skill {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.skill span {
    width: 120px; 
}

.skill-bar {
    flex: 1;
    background: #333;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background: #01ccff;
    border-radius: 5px;
}

.percent {
    width: 40px;
    text-align: right;
    font-size: 12px;
}

.note {
    font-size: 12px;
    margin-top: 10px;
    color: #888;
}


.equipped-tools {
    flex: 1;
}

.equipped-tools h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #01ccff;
}

.tool-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tool {
    background: #6366f1;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.current-grind {
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .skills-content {
        flex-direction: column;
        gap: 30px;
    }
}
